Library/
/Library/
Library/ArtifactDB
/Library/ArtifactDB
save.mf2
/Logs/
Logs/
Library/PlayerDataCache/
Library/Artifacts/
Library/Bee/
Library/ArtifactDB-lock
Library/ArtifactDB
Library/ArtifactDB
Library/PackageCache/com.unity.ide.visualstudio@2.0.15/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Documentation~/Images/shader-examples/urp-shader-tutorial-reconstruct-world-positions-from-depth.png
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/CameraStacking/SplitScreen/SplitScreen/PostProcessingVolume Profile.asset
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/CameraStacking/SplitScreen/SplitScreen/PostProcessingVolume Profile.asset.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/CameraStacking/SplitScreen/SplitScreen/SplitScreenPPUISettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/LightingData.asset.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/LightingSettings.lighting
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/LightingSettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/ReflectionProbe-0.exr.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/GlitchEffect/GlitchEffect/GlitchLightingSettings.lighting
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/GlitchEffect/GlitchEffect/GlitchLightingSettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/OcclusionEffect/OcclusionEffect/OcclusionEffectSettings.lighting
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/OcclusionEffect/OcclusionEffect/OcclusionEffectSettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/OcclusionEffect/OcclusionEffect/ReflectionProbe-0.exr.meta
Library/PackageCache/com.unity.ide.visualstudio@2.0.15/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Library/PackageCache/com.unity.ide.visualstudio@2.0.15/Editor/AppleEventIntegration~/AppleEventIntegration.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Documentation~/Images/shader-examples/urp-shader-tutorial-reconstruct-world-positions-from-depth.png
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/CameraStacking/SplitScreen/SplitScreen/PostProcessingVolume Profile.asset
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/CameraStacking/SplitScreen/SplitScreen/PostProcessingVolume Profile.asset.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/CameraStacking/SplitScreen/SplitScreen/SplitScreenPPUISettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/LightingData.asset.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/LightingSettings.lighting
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/LightingSettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/AmbientOcclusion/AmbientOcclusion/ReflectionProbe-0.exr.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/GlitchEffect/GlitchEffect/GlitchLightingSettings.lighting
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/GlitchEffect/GlitchEffect/GlitchLightingSettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/OcclusionEffect/OcclusionEffect/OcclusionEffectSettings.lighting
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/OcclusionEffect/OcclusionEffect/OcclusionEffectSettings.lighting.meta
Library/PackageCache/com.unity.render-pipelines.universal@12.1.7/Samples~/URPPackageSamples/RendererFeatures/OcclusionEffect/OcclusionEffect/ReflectionProbe-0.exr.meta
.vs/RBA2-DT/v16/.suo
/Temp/
Temp/
